@import "./reset";
@import "./variables/global.css";
@import "./themes/light.css";

html {
    scroll-behavior: smooth;
    width: 100vw;
}

.app {
    font-family: var(--font-family-main);
    background: var(--primary-bg-color);
    min-height: 100vh;
    padding-top: var(--header-height);
}

.modal-open {
    height: 100%;
    overflow: hidden;
}