.section {
    padding: 50px 100px 40px;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.title {
    font-size: var(--font-size-35);
    line-height: var(--line-height-50);
}

.number {
    font-weight: var(--font-weight-l);
    margin-left: 20px;
}

.text-button {
    width: 120px;
    height: 36px;
    margin-left: auto;
}

.categories-container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.option {
    flex: 1;
    font-size: var(--font-size-16);
    height: 50px;
}