.section {
    padding: 50px 100px 40px;
    width: 1422px;
    margin: 0 auto;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.title {
    font-size: var(--font-size-35);
    line-height: var(--line-height-50);
}

.number {
    font-weight: var(--font-weight-l);
    margin-left: 20px;
}

.text-button {
    width: 120px;
    height: 36px;
    margin-left: auto;
}

.categories-container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.option {
    flex: 1;
    font-size: var(--font-size-16);
    height: 50px;
}

@media(max-width: 1438px) {
    .section {
        width: 100%;
        max-width: 1005px;
        margin: 0 auto;
        padding: 40px 60px 30px;
    }

    .title-container {
        margin: 0 0 30px 30px;
    }

    .title {
        line-height: 30px;
    }

    .number {
        margin-left: 10px;
    }

    .categories-container {
        gap: 14px;
    }

    .option {
        font-size: var(--font-size-14);
        height: 40px;
    }
}

@media(max-width: 1022px) {
    .section {
        padding: 35px 30px 30px;
        width: 100%;
    }

    .title-container {
        margin: 0 0 24px;
    }

    .title {
        font-size: var(--font-size-24);
        line-height: 30px;
    }

    .number {
        font-size: var(--font-size-14);
        transform: translateY(2px);
        font-weight: var(--font-weight-l);
        margin-left: 10px;
    }

    .text-button {
        justify-content: flex-end;
        font-size: var(--font-size-15);
        width: 90px;
        height: 20px;
        margin-left: auto;
    }

    .text-button:hover {
        background: transparent;
    }
}