.content-wrapper {
    width: 100%;
}

.title {
    line-height: var(--line-height-50);
    margin-bottom: 37px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-bottom: 43px;
}

.section img {
    width: 100%;
    border-radius: 20px;
    height: 310px;
}

.subtitle {
    line-height: 25px;
    font-size: var(--font-size-25);
}

.paragraph {
    line-height: 22px;
    font-size: var(--font-size-16);
}

@media(max-width: 1438px) {
    .title {
        line-height: 40px;
        margin-bottom: 32px;
    }

    .section {
        width: 100%;
        gap: 20px;
        padding-bottom: 40px;
    }

    .subtitle {
        line-height: 30px;
    }

    .paragraph {
        line-height: 20px;
        font-size: var(--font-size-16);
    }

    .section img {
        height: 240px;
    }
}

@media(max-width: 1022px) {
    .content-wrapper {
        width: 100%;
    }

    .title {
        font-size: var(--font-size-26);
        line-height: 30px;
        margin-bottom: 30px;
        padding: 0 30px;
    }

    .section {
        gap: 15px;
        padding-bottom: 0;
    }

    .section img {
        width: 100%;
        margin-bottom: 7px;
        height: auto;
        border-radius: 0;
    }

    .subtitle {
        padding: 0 30px;
        line-height: 30px;
        font-size: var(--font-size-18);
    }

    .paragraph {
        padding: 0 30px;
        line-height: 20px;
        font-size: var(--font-size-14);
        margin-bottom: 7px;
    }
}