.map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    max-width: 1440px;
}

@media(max-width: 1022px) {
    .map {
        flex-direction: column;
        margin-bottom: 43px;
    }

    .title {
        font-size: var(--font-size-18);
        line-height: 22px;
    }

    .paragraph {
        font-size: var(--font-size-12);
        line-height: 16px;
        width: 296px;
        height: 34px;
        text-align: center;
        margin-top: 10px;
    }
}