.text {
    color: var(--primary-text-color);
    font-weight: var(--font-weight-s);
}

.title {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-xxxxl);
    color: var(--primary-title-color);
}

.title-reversed {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-xxxxl);
    color: var(--reversed-title-color);
}

.title-large {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-xxxl);
    color: var(--primary-title-color);
}

.title-large-reversed {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-xxxl);
    color: var(--reversed-text-color);
}

.title-medium {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-xxl);
    color: var(--primary-title-color);
}

.title-medium-reversed {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-xl);
    color: var(--reversed-title-color);
    line-height: 45px;
}

.title-small {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-l);
    color: var(--primary-title-color);
}

.title-small-reversed {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-l);
    color: var(--reversed-title-color);
}

.title-extra-small {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xs);
    color: var(--primary-title-color);
}

.subtitle-medium {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-s);
    color: var(--primary-title-color);
}

.subtitle-medium-reversed {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-s);
    color: var(--reversed-text-color);
}

.paragraph-title-medium {
    color: var(--third-text-color);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
}

.paragraph-title {
    color: var(--third-text-color);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-m);
}

.paragraph-dark-medium {
    color: var(--primary-text-color);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
}

.paragraph-dark {
    color: var(--primary-text-color);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-m);
}

.paragraph-black {
    color: var(--secondary-text-color);
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-s);
    font-style: italic;
}

.paragraph-reversed {
    color: var(--reversed-text-color);
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-s);
    line-height: 20px;
}

.paragraph-reversed-small {
    color: var(--reversed-text-color);
    font-size: var(--font-size-xxxs);
    font-weight: var(--font-weight-m);
    line-height: 18px;
}

.action {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xs);
    color: var(--primary-action-color);
}

.action-red {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xs);
    color: var(--secondary-action-text-color);
}

.badge {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xxs);
    color: var(--primary-action-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 27px;
    border-radius: 10px;
    background: var(--primary-action-color-blurred);
}

.badge-blue {
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-xs);
    color: var(--secondary-action-color);
}

.default {
    font-size: var(--font-size-xxs);
}

.default-small {
    font-size: var(--font-size-xxxs);
    color: var(--third-text-color);
}

.subheader-light {
    color: var(--reversed-title-color);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-s);
}

.subheader-light-small {
    color: var(--reversed-title-color);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xxs);
    line-height: 18px;
}

