.text {
    color: var(--primary-text-color);
    font-weight: var(--font-weight-s);
}

.default {
    font-size: var(--font-size-xxs);
}

.default-small {
    font-size: var(--font-size-xxxs);
    color: var(--third-text-color);
}

.subheader-light {
    color: var(--reversed-title-color);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-s);
}

.subheader-light-small {
    color: var(--reversed-title-color);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xxs);
    line-height: 18px;
}