@font-face {
    font-family: 'Satoshi';
    src: url('../../../shared/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('../../../shared/fonts/satoshi/Satoshi-Variable.woff') format('woff'),
    url('../../../shared/fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
    font-weight: 400 900;
    font-display: swap;
    font-style: normal;
}

:root {
    --font-family-main: "Satoshi", sans-serif;

    --font-size-xxxxl: 65px;
    --font-size-xxxl: 55px;
    --font-size-xxl: 50px;
    --font-size-xl: 40px;
    --font-size-35: 35px;
    --font-size-32: 32px;
    --font-size-25: 25px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-xxxs: 14px;

    --line-height-55: 55px;
    --line-height-50: 50px;
    --line-height-36: 36px;
    --line-height-24: 24px;
    --line-height-21: 21px;

    --font-weight-xl: 900;
    --font-weight-l: 700;
    --font-weight-m: 500;
    --font-weight-s: 400;

    --header-height: 90px;
    --footer-height: 370px;

    --modal-z-index: 50;
    --overlay-z-index: 45;
    --header-z-index: 40;
    --select-z-index: 35;
    --select-overlay-z-index: 30;
    --separate-content-z-index: 5;
    --separate-bg-z-index: 2;
}