@font-face {
    font-family: 'Satoshi';
    src: url('../../../shared/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('../../../shared/fonts/satoshi/Satoshi-Variable.woff') format('woff'),
    url('../../../shared/fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
    font-weight: 400 900;
    font-display: swap;
    font-style: normal;
}

:root {
    --font-family-main: "Satoshi", sans-serif;

    --font-size-xxxl: 65px;
    --font-size-xxl: 50px;
    --font-size-xl: 40px;
    --font-size-l: 32px;
    --font-size-m: 25px;
    --font-size-s: 20px;
    --font-size-xs: 18px;
    --font-size-xxs: 16px;
    --font-size-xxxs: 14px;

    --font-weight-xl: 900;
    --font-weight-l: 700;
    --font-weight-m: 500;
    --font-weight-s: 400;

    --header-height: 90px;
    --footer-height: 370px;
}