.aside {
    display: block;
    width: 420px;
}

.content-wrapper {
    position: sticky;
    top: calc(var(--header-height) + 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
}

.menu-wrapper {
    width: 100%;
    background: var(--reversed-bg-color);
    border-radius: 30px;
    padding: 20px;
}

.info {
    line-height: 21px;
    text-align: center;
    margin: 35px 0 4px;
}

.mail-link {
    color: var(--secondary-action-color);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-s);
    text-decoration: none;
}

@media(max-width: 1438px) {
    .aside {
        width: 308px;
    }

    .content-wrapper {
        width: 308px;
    }

    .menu-wrapper {
        border-radius: 20px;
        padding: 14px;
    }

    .info {
        line-height: 30px;
        margin: 16px 0 4px;
    }
}