.menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.menu {
    padding: 20px;
    background: var(--reversed-bg-color);
    width: 1240px;
    height: 470px;
    border-radius: 30px;
    display: flex;
    gap: 20px;
}

.dark .menu {
    background: var(--fourth-bg-color);
}

.content {
    background: var(--primary-bg-color);
    flex: 1;
    border-radius: 20px;
}

.dark .content {
    background: var(--reversed-bg-color);
}