.calculator {
    display: grid;
    grid-template-columns: 270px 270px;
    column-gap: 48px;
    row-gap: 20px;
    background: var(--reversed-bg-color);
    border-radius: 20px;
    padding: 34px 42px 40px;
}

.single-line {
    grid-column: 1/-1;
}

.scale-selects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
}

@media(max-width: 1438px) {
    .calculator {
        grid-template-columns: 210px 210px;
        column-gap: 20px;
        row-gap: 24px;
        padding: 18px 22px 30px 28px;
    }

    .scale-selects {
        grid-column-gap: 10px;
    }

    .input span {
        font-size: var(--font-size-15);
    }
}

@media(max-width: 1022px) {
    .calculator {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 0;
        row-gap: 15px;
        padding: 18px 25px 25px;
    }

    .single-line {
        grid-column: 1/-1;
    }

    .scale-selects {
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0;
        row-gap: 15px;
    }

    .input span {
        font-size: var(--font-size-12);
    }
}