.navigation-link {
    font-size: var(--font-size-xxs);
    color: var(--primary-title-color);
    font-weight: var(--font-weight-m);
    text-decoration: none;
}

.default {
    line-height: 18px;
}

.default:hover {
    color: var(--primary-action-color);
}

.action {
    color: var(--primary-action-text-color);
    font-weight: var(--font-weight-l);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 55px;
    background: var(--primary-action-color);
    border-radius: 10px;
}

.footer {
    font-size: var(--font-size-xxxs);
    color: var(--third-text-color);
    font-weight: var(--font-weight-s);
    align-self: flex-start;
}

.footer:hover {
    color: var(--primary-action-text-color);
}