.container {
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100%;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-text {
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-16);
    line-height: 27px;
}

.select-container {
    position: relative;
}

.select {
    padding: 0 25px 0 27px;
    border: none;
    width: 100%;
    color: var(--third-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-18);
    background: var(--primary-text-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    cursor: pointer;
}

.select.selected {
    color: var(--reversed-text-color);
    border: solid 1px var(--primary-action-color);
    background: rgba(0, 189, 80, 0.2);
}

.options {
    padding: 0 23px 0 27px;
    background: var(--primary-input-bg);
    width: 100%;
    border: solid 1px var(--primary-action-color);

    position: absolute;
    z-index: var(--select-z-index);
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.option {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px var(--primary-text-color);
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-18);
    cursor: pointer;
}

.option:first-child {
    border-top: none;
}

.option:hover {
    color: var(--primary-action-color);
}

.overlay {
    position: fixed;
    z-index: var(--select-overlay-z-index);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

.dark .select {
    padding: 0 21px 0 31px;
    background: var(--reversed-bg-color);
    color: var(--reversed-text-color);
}

.dark .select.selected {
    border: none;
}

.dark .options {
    border: none;
    padding: 0 21px 0 31px;
    background: var(--reversed-bg-color);
}

.green .select {
    border-radius: 15px;
    padding: 0 21px 0 31px;
    background: var(--primary-action-color);
    color: var(--reversed-text-color);
}

.green .select.selected {
    border: none;
}

.green .options {
    border: none;
    padding: 0 21px 0 31px;
    background: var(--primary-action-color);
}

@media(max-width: 1438px) {
    .label-text {
        font-size: var(--font-size-18);
    }

    .select {
        padding: 0 10px 0 22px;
        height: 58px;
    }

    .options {
        padding: 0 10px 0 22px;
    }

    .option {
        height: 58px;
    }
}

@media(max-width: 1022px) {
    .container {
        gap: 8px;
    }

    .label-text {
        font-size: var(--font-size-12);
    }

    .select {
        padding: 0 20px 0 22px;
        font-size: var(--font-size-15);
        height: 58px;
    }

    .options {
        padding: 0 20px 0 22px;
    }

    .option {
        height: 58px;
        font-size: var(--font-size-15);
    }
}