.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-text {
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xs);
    line-height: 27px;
}

.input {
    padding: 22px 0 21px 25px;
    border: none;
    width: 100%;
    height: 70px;
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-xs);
    background: var(--primary-input-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.input::placeholder {
    color: var(--third-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-xs);
}