.powered {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width: 1438px) {
    .powered {
        margin: 0 62px;
    }

    .image {
        width: 900px;
    }
}

@media(max-width: 1022px) {
    .powered {
        margin: 0;
        padding: 40px 30px 24px;
    }

    .image {
        width: 100%;
    }
}