.powered {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width: 1438px) {
    .powered {
        margin: 0 62px;
    }

    .image {
        width: 900px;
    }
}