.introduction-section {
    padding: 65px 0 90px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
}

.left {
    position: absolute;
    top: 60px;
    left: 0;
}