.content {
    width: 1422px;
    margin: 0 auto;
    padding-bottom: 109px;
}

.content-section {
    display: flex;
    gap: 58px;
    justify-content: space-around;
    align-items: center;
}

.left {
    margin: 0 74px 0 129px;
}

.right {
    margin: 158px 129px 146px 74px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.title {
    width: 371px;
    height: 90px;
}

.paragraph {
    width: 497px;
    line-height: 22px;
}

.image {
    width: 682px;
    height: 454px;
}

.calculator-link {
    margin-top: 28px;
}

@media(max-width: 1438px) {
    .content {
        width: 100%;
        max-width: 1005px;
        margin: 0 auto;
        padding-bottom: 90px;
    }

    .content-section {
        gap: 57px;
    }

    .left {
        margin: 0 45px 0 90px;
    }

    .right {
        margin: 92px 76px 107px 43px;
    }

    .details {
        gap: 25px;
    }

    .title {
        width: 338px;
        height: 66px;
        line-height: 32px;
    }

    .paragraph {
        width: 338px;
        line-height: 18px;
    }

    .image {
        width: 494px;
        height: 330px;
    }
}


@media(max-width: 1022px) {
    .content {
        max-width: 393px;
        width: 100%;
        margin: 52px auto 80px;
        display: flex;
        flex-direction: column;
        gap: 70px;
        padding-bottom: 0;
    }

    .content-section {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .left {
        margin: 0;
    }

    .right {
        margin: 0;
        flex-direction: column-reverse;
    }

    .details {
        gap: 20px;
    }

    .title {
        height: auto;
        padding: 0 70px 0 30px;
        width: 100%;
        font-size: var(--font-size-20);
        line-height: 26px;
    }

    .paragraph {
        padding: 0 30px;
        width: 100%;
        height: auto;
        font-size: var(--font-size-12);
        line-height: 17px;
    }

    .image {
        padding: 0 18px;
        width: 100%;
        height: auto;
    }
}