.content {
    padding-bottom: 109px;
}

.content-section {
    display: flex;
    gap: 58px;
    justify-content: space-around;
    align-items: center;
}

.left {
    margin: 0 74px 0 129px;
}

.right {
    margin: 158px 129px 146px 74px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.title {
    width: 371px;
    height: 90px;
}

.paragraph {
    width: 497px;
    line-height: 22px;
}

.image {
    width: 682px;
    height: 454px;
}

.calculator-link {
    margin-top: 28px;
}

@media(max-width: 1438px) {
    .content {
        padding-bottom: 90px;
    }

    .content-section {
        gap: 57px;
    }

    .left {
        margin: 0 45px 0 90px;
    }

    .right {
        margin: 92px 76px 107px 43px;
    }

    .details {
        gap: 25px;
    }

    .title {
        width: 338px;
        height: 66px;
        line-height: 32px;
    }

    .paragraph {
        width: 338px;
        line-height: 18px;
    }

    .image {
        width: 494px;
        height: 330px;
    }
}