.main {
    position: relative;
    display: grid;
    grid-template-columns: 420px auto;
    column-gap: 62px;
    width: 100%;
    padding: 73px 100px 47px;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.right {
    position: absolute;
    top: 0;
    right: 0;
}

.left {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media(max-width: 1438px) {
    .main {
        grid-template-columns: 308px auto;
        column-gap: 39px;
        padding: 84px 50px 60px;
    }

    .left {
        height: 500px;
    }
}