.content {
    padding: 43px 39px 42px 41px;
    width: 906px;
    border-radius: 20px;
    background: var(--reversed-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 45px;
}

.initials-container {
    width: 100%;
    display: flex;
    gap: 26px;
    margin-bottom: 27px;
}

.email {
    margin-bottom: 23px;
}

.countries {
    margin-bottom: 23px;
}

.note {
    margin-bottom: 26px;
}

.close {
    position: absolute;
    top: 38px;
    right: 39px;
}
