.description {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.description.most-popular {
    height: 770px;
}

.description-card {
    position: relative;
    background: var(--primary-bg-color);
    height: 720px;
    width: 295px;
    border-radius: 20px;
    box-shadow: 0 10px 40px 0 rgba(22, 20, 20, 0.08);
    padding: 49px 26px 29px 29px;
    display: flex;
    flex-direction: column;
    z-index: var(--separate-content-z-index);
}

.most-popular .description-card {
    height: 712px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 38px 23px 29px 26px;
    margin: 0 3px 0 3px;
    width: 289px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 38px;
}

.title {
    line-height: 30px;
    font-size: var(--font-size-26);
    text-transform: uppercase;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feature {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.feature-description {
    line-height: 18px;
    font-size: var(--font-size-13);;
    width: 188px;
}

.cost-section {
    margin-top: auto;
}

.cost-wrapper {
    margin: 21px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cost-badge {
    font-weight: var(--font-weight-l);
    text-transform: uppercase;
}

.cost {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-xl);
    line-height: 40px;
}

.most-popular-badge {
    width: 295px;
    height: 770px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: var(--separate-bg-z-index);
}

.most-popular-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    background: linear-gradient(140.84deg, #FFB800 14.07%, #FF9900 75.25%);
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    color: var(--reversed-text-color);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-xl);
    transform: translateY(2px);
}

.most-popular-bg {
    width: 100%;
    background: linear-gradient(180deg, #FFB800 14.07%, rgba(255, 153, 0, 0.25) 75.25%);
    height: 712px;
    clip-path: polygon(0 0, 100% 0, 293px 85%, 2px 85%)
}

.link {
    height: 66px;
}

.link:hover {
    background: rgba(0, 189, 80, 0.1);
}

@media(max-width: 1438px) {
    .description.most-popular {
        height: 561px;
    }

    .description-card {
        height: 525px;
        width: 215px;
        padding: 33px 20px 20px 22px;
    }

    .most-popular .description-card {
        height: 519px;
        width: 209px;
        padding: 28px 20px 20px 22px;
    }

    .title-wrapper {
        height: 32px;
        gap: 10px;
        margin-bottom: 27px;
    }

    .title {
        line-height: 21px;
    }

    .features {
        gap: 10px;
    }

    .feature {
        gap: 14px;
    }

    .feature-description {
        line-height: 14px;
        width: 137px;
    }

    .cost-wrapper {
        margin: 20px 0 21px;
    }

    .cost {
        font-size: var(--font-size-19);
        line-height: 25px;
    }

    .most-popular-badge {
        width: 215px;
        height: 561px;
    }

    .most-popular-header {
        height: 42px;
    }

    .tag {
        font-size: var(--font-size-15);
    }

    .most-popular-bg {
        height: 519px;
        clip-path: polygon(0 0, 100% 0, 213px 85%, 2px 85%)
    }

    .link {
        height: 50px;
    }

    .icon {
        transform: scale(0.8);
    }
}