.about-founders {
    width: 1422px;
    margin: 0 auto;
    padding: 0 122px 109px 130px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title-container {
    display: flex;
    justify-content: space-around;
    gap: 81px;
    align-items: center;
}

.title {
    line-height: 70px;
    width: 504px;
}

.paragraph {
    line-height: 22px;
    height: 70px;
    width: 603px;
}

.founders {
    list-style: none;
    display: flex;
    gap: 35px;
    justify-content: center;
}

@media(max-width: 1438px) {
    .about-founders {
        width: 1005px;
        margin: 0 auto;
        padding: 0 60px 80px;
        gap: 40px;
    }

    .title-container {
        gap: 69px;
    }

    .title {
        line-height: 30px;
        width: 301px;
        font-size: var(--font-size-35);
        padding-left: 30px;
    }

    .paragraph {
        line-height: 16px;
        height: 50px;
        width: 503px;
        font-size: var(--font-size-15);
    }

    .founders {
        gap: 14px;
    }
}