.section {
    padding: 0 100px 120px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.article-wrapper {
    width: 100%;
}

.image {
    width: 100%;
    height: 340px;
    border-radius: 20px;
    margin-bottom: 25px;
}

.info {
    padding: 0 20px;
    width: 100%;
}

.row-Wrapper {
    display: flex;
    justify-content: space-between;
    height: 49px;
}

.title {
    font-size: var(--font-size-25);
    line-height: var(--line-height-36);
}

.author, .description {
    font-size: var(--font-size-16);
    line-height: var(--line-height-21);
}

.author {
    margin-top: 7px;
    margin-left: auto;
    max-width: 35%;
    text-align: end;
}

.author span {
    color: var(--primary-title-color);
}

.description {
    margin-top: auto;
    height: 42px;
    overflow: hidden;
}

.link {
    margin-left: 41px;
    color: var(--secondary-action-color);
    font-size: var(--font-size-18);
    line-height: var(--line-height-24);
    font-weight: var(--font-weight-l);
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: end;
    justify-self: end;
    text-decoration: none;
}

@media(max-width: 1438px) {
    .section {
        padding: 0 60px 48px;
        column-gap: 14px;
        row-gap: 20px;
    }

    .image {
        height: 250px;
        margin-bottom: 18px;
    }

    .info {
        padding: 0 15px;
    }

    .row-Wrapper {
        display: flex;
        justify-content: space-between;
        height: 39px;
    }

    .title {
        line-height: 26px;
    }

    .author, .description {
        font-size: var(--font-size-14);
        line-height: 16px;
    }

    .author {
        margin-top: 5px;
        max-width: 35%;
    }

    .description {
        height: 32px;
        overflow: hidden;
    }

    .link {
        margin-left: 33px;
        font-size: var(--font-size-16);
        line-height: 18px;
    }

    .icon {
        transform: scale(0.8) translateY(3px);
    }
}

