.header {
    height: var(--header-height);
    background: var(--primary-bg-color);
    padding: 0 100px;
    display: flex;
    gap: 380px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--header-z-index);
}

.dark {
    background: var(--third-bg-color);
}