.header {
    height: var(--header-height);
    background: var(--primary-bg-color);
    padding: 0 100px;
    display: flex;
    gap: 360px;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--header-z-index);
}

.logo {
    width: 15%;
    display: flex;

}

.dark {
    background: var(--third-bg-color);
}

@media(max-width: 1438px) {
    .header {
        padding: 0 60px 0 35px;
        gap: 0;
        justify-content: space-between;
    }

    .logo {
        transform: scale(0.78);
        width: auto;
    }
}