.header {
    width: 100%;
    height: var(--header-height);
    background: var(--primary-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--header-z-index);
}

.content {
    height: 100%;
    width: 1422px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark {
    background: var(--third-bg-color);
}

@media(max-width: 1438px) {
    .content {
        width: 1007px;
        padding: 0 60px 0 35px;
    }

    .logo {
        transform: scale(0.78);
        width: auto;
    }
}