.annual {
    width: 673px;
    height: 220px;
    background: var(--reversed-bg-color);
    padding: 34px 41px 36px 43px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.roi {
    font-size: var(--font-size-25);
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.price {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-26);
    color: var(--primary-action-color);
}

.minus {
    color: var(--third-action-color);
}

.placeholder {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-26);
    color: var(--third-text-color);
}

@media(max-width: 1438px) {
    .annual {
        width: 490px;
        height: 170px;
        padding: 26px 22px 27px 28px;
    }

    .button {
        margin-top: auto;
    }

    .annual {
        border-radius: 20px;
    }

    .description {
        height: 38px;
    }
}


@media(max-width: 1022px) {
    .annual {
        width: 100%;
        height: 170px;
        padding: 26px 25px 27px;
        border-radius: 20px;
    }

    .roi {
        line-height: 38px;
        font-size: var(--font-size-18);
    }

    .description {
        height: auto;
    }

    .price {
        font-size: var(--font-size-18);
    }

    .placeholder {
        font-size: var(--font-size-18);
    }

    .button {
        font-size: var(--font-size-14);
    }
}