.faq-section {
    padding: 0 130px 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title {
    font-weight: var(--font-weight-xl);
    line-height: 50px;
}

.questions {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}