.role {
    padding: 23px 29px 19px 31px;
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
    border-radius: 20px;
    height: 129px;
    width: 100%;
}

.general-info-container {
    margin: 0 57px 0 35px;
    width: 747px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-container {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 12px;
}

.location-container {
    display: flex;
    gap: 6px;
    align-items: center;
}

.location-container span {
    color: var(--secondary-action-color);
    font-size: var(--font-size-14);
    line-height: 20px;
    font-weight: var(--font-weight-l);
}

.rate-info-container {
    margin-left: 29px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    font-size: var(--font-size-14);
    line-height: 20px;
    height: 45px;
    width: 100%;
    overflow: hidden;
}

.rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    text-align: right;
    line-height: 30px;
}

.rate-badge {
    text-align: left;
    line-height: 30px;
    font-size: var(--font-size-16);
}

.link {
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 3px;
}

.link span {
    color: var(--primary-action-color);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-l);
    line-height: 32px;
}

@media(max-width: 1438px) {
    .role {
        padding: 17px 35px 17px 31px;
        height: 92px;
    }

    .general-info-container {
        margin: 0 35px 0 23px;
        width: 532px;
        height: 100%;
    }

    .title-container {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-bottom: 8px;
    }

    .location-container span {
        line-height: 14px;
    }

    .rate-info-container {
        margin-left: 18px;
    }

    .description {
        font-size: var(--font-size-13);
        line-height: 14px;
        height: 32px;
        overflow: hidden;
    }

    .rate {
        text-align: right;
        line-height: 21px;
    }

    .rate-badge {
        text-align: left;
        line-height: 21px;
        font-size: var(--font-size-15);
    }

    .link {
        gap: 8px;
        margin-bottom: 0;
    }

    .link span {
        line-height: 22px;
    }

    .icon {
        width: 58px;
        transform: scale(0.7) translateX(-5px);
    }

    .location-icon {
        width: 14px;
        transform: scale(0.8) translateY(2px);
    }
}