.light {
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: linear-gradient(90deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    --third-bg-color: #272424;
    --fourth-bg-color: #2D2A2A;
    --reversed-bg-color: #161414;

    --primary-title-color: #161414;
    --reversed-title-color: #FFFFFF;

    --primary-text-color: #595959;
    --secondary-text-color: #000000;
    --third-text-color: #8A8A8A;
    --reversed-text-color: #FFFFFF;

    --primary-action-color: #00BD50;
    --secondary-action-color: #2B73FF;
    --third-action-color: #F4363F;

    --primary-action-text-color: #FFFFFF;
    --secondary-action-text-color: #F4363F;

    --primary-action-color-blurred: #00BD501A;

    --primary-icon-bg: #2D2A2A;
}