.section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 1422px;
    margin: 58px auto 150px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: var(--font-size-60);
    line-height: var(--line-height-76);
}

.content-container {
    display: flex;
    gap: 84px;
    justify-content: space-around;
    padding: 0 75px 0 100px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 673px;
}

.title-paragraph {
    width: 812px;
    height: 70px;
    text-align: center;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.left {
    position: absolute;
    top: 100px;
    left: 0;
    pointer-events: none;
}

@media(max-width: 1438px) {
    .section {
        width: 100%;
        max-width: 1005px;
        gap: 57px;
        margin: 58px auto 100px;
    }

    .section-title {
        gap: 15px;
    }

    .content-container {
        gap: 59px;
        padding: 0 62px 0 60px;
    }

    .calculator-container {
        gap: 15px;
        width: 490px;
    }

    .title-paragraph {
        width: 510px;
        height: 49px;
        line-height: 20px;
    }

    .right {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        height: 500px;
    }

    .title {
        font-size: var(--font-size-60);
        line-height: 50px;
    }

    .left {
        position: absolute;
        top: 500px;
        left: 0;
        pointer-events: none;
        height: 500px;
    }
}