.menu-item {
    padding: 17px 36px 18px;
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: var(--separate-content-z-index);
    width: 380px;
}

.title {
    font-size: var(--font-size-20);
    line-height: 30px;
}

@media(max-width: 1438px) {
    .menu-item {
        padding: 17px 28px 18px;
        gap: 18px;
        width: 280px;
    }

    .title {
        font-size: var(--font-size-20);
        line-height: 30px;
    }
}