.container {
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100%;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-text {
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xxs);
    line-height: 27px;
}

.select-container {
    position: relative;
}

.select {
    padding: 0 25px 0 27px;
    border: none;
    width: 100%;
    color: var(--third-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-xs);
    background: var(--primary-text-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    cursor: pointer;
}

.select p {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select.selected {
    color: var(--reversed-text-color);
    border: solid 1px var(--primary-action-color);
    background: rgba(0, 189, 80, 0.2);
}

.options {
    height: 360px;
    overflow-y: scroll;
    padding: 0 23px 0 27px;
    background: var(--primary-input-bg);
    width: 100%;
    border: solid 1px var(--primary-action-color);

    position: absolute;
    z-index: var(--select-z-index);
    top: 0;
    left: 0;
    border-radius: 10px;
}

.option {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px var(--primary-text-color);
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-xs);
    cursor: pointer;
}

.option.selectedOption {
    color: var(--primary-action-color);
}

.option:first-child {
    border-top: none;
}

.option:hover {
    color: var(--primary-action-color);
}

.overlay {
    position: fixed;
    z-index: var(--select-overlay-z-index);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}