.container {
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100%;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-text {
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-16);
    line-height: 27px;
}

.select-container {
    position: relative;
}

.select {
    padding: 0 25px 0 27px;
    border: none;
    width: 100%;
    color: var(--third-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-18);
    background: var(--primary-select-bg);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    cursor: pointer;
}

.select p {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select.selected {
    color: var(--reversed-text-color);
    border: solid 1px var(--primary-action-color);
    background: rgba(0, 189, 80, 0.2);
}

.optionsContainer {
    width: 100%;
    border: solid 1px var(--primary-action-color);
    background: var(--primary-input-bg);

    position: absolute;
    z-index: var(--select-z-index);
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.search {
    height: 70px;
    padding: 0 23px 0 27px;
    background: var(--primary-input-bg);
    border: none;
    border-bottom: solid 1px var(--primary-action-color);
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-20);
}

.search:focus {
    outline: none;
    border-bottom: solid 1px var(--primary-action-color);
}

.options {
    height: 280px;
    overflow-y: scroll;
    padding: 0 23px 0 27px;
    width: 100%;
    background: inherit;
}

.option {
    height: 70px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-top: solid 1px var(--primary-text-color);
    color: var(--reversed-text-color);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-18);
    cursor: pointer;
}

.option.selectedOption {
    color: var(--primary-action-color);
}

.option:first-child {
    border-top: none;
}

.option:hover {
    color: var(--primary-action-color);
}

.icon {
    width: 24px;
    height: 24px;
}

.overlay {
    position: fixed;
    z-index: var(--select-overlay-z-index);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

@media(max-width: 1438px) {
    .label-text {
        font-size: var(--font-size-18);
    }

    .select {
        padding: 0 22px 0 22px;
        height: 58px;
    }

    .search {
        height: 58px;
        padding: 0 22px 0 22px;
    }

    .options {
        height: 233px;
        padding: 0 22px 0 22px;
    }

    .option {
        height: 58px;
    }
}

@media(max-width: 1022px) {
    .container {
        gap: 8px;
    }

    .label-text {
        font-size: var(--font-size-12);
    }

    .select {
        padding: 0 20px 0 22px;
        font-size: var(--font-size-15);
        height: 58px;
    }

    .search {
        height: 58px;
        padding: 0 20px 0 22px;
        font-size: var(--font-size-15);
    }

    .options {
        height: 232px;
        padding: 0 20px 0 22px;
    }

    .option {
        height: 58px;
        font-size: var(--font-size-15);
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .reduced .select {
        padding: 0 20px 0 20px;
        font-size: var(--font-size-14);
        height: 48px;
    }

    .reduced .search {
        height: 48px;
        padding: 0 20px 0 20px;
        font-size: var(--font-size-14);
    }

    .reduced .options {
        height: 190px;
        padding: 0 20px 0 22px;
    }

    .reduced .option {
        height: 48px;
        font-size: var(--font-size-14);
    }

    .reduced .icon {
        width: 16px;
        height: 16px;
    }
}