.section {
    width: 1422px;
    margin: 0 auto;
    padding: 56px 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    line-height: 70px;
    margin-bottom: 14px;
}

.paragraph {
    width: 535px;
    line-height: 20px;
    text-align: center;
    font-size: var(--font-size-16);
}

.plans {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 2%;
    align-items: flex-end;
    justify-content: center;
    padding-top: 48px;
}

@media(max-width: 1438px) {
    .section {
        width: 100%;
        max-width: 1005px;
        margin: 0 auto;
        padding: 50px 60px 50px;
    }

    .title {
        line-height: 50px;
    }
}

@media(max-width: 1022px) {
    .section {
        width: 100%;
        max-width: 334px;
        padding: 39px 0 34px;
    }

    .title {
        font-size: var(--font-size-25);
        line-height: 40px;
        margin-bottom: 18px;
    }

    .paragraph {
        width: 100%;
        max-width: 327px;
        text-align: center;
        font-size: var(--font-size-14);
        line-height: 20px;
    }

    .plans {
        width: 100%;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        padding-top: 46px;
    }
}