.about {
    width: 1422px;
    margin: 0 auto;
    padding: 0 0 105px 130px;
    display: flex;
    justify-content: flex-end;
}

.info-container {
    margin: 109px auto 0;
}

.info {
    width: 475px;
}

.badge {
    width: 150px;
}

.title {
    line-height: 52px;
    margin: 31px 0 60px;
}

.blue {
    color: var(--secondary-action-color);
}

.yellow {
    color: var(--fourth-action-color);
}

.green {
    color: var(--primary-action-color);
}

.image-container {
    position: relative;
    height: 700px;
    width: 835px;
}

.image-container img {
    position: absolute;
    top: 0;
    right: 0;
}

.action {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: var(--reversed-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.action span {
    color: var(--reversed-text-color);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-l);
}

@media(max-width: 1438px) {
    .about {
        width: 100%;
        max-width: 1005px;
        margin: 0 auto;
        padding: 0 0 78px 90px;
    }

    .info-container {
        margin: 62px auto 0;
    }

    .info {
        width: 353px;
    }

    .badge {
        width: 130px;
    }

    .title {
        line-height: 40px;
        margin: 21px 0 30px;
        font-size: var(--font-size-55);
    }

    .image-container {
        position: relative;
        height: 533px;
        width: 580px;
    }

    .image-container img {
        pointer-events: none;
        width: 700px;
        height: 620px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .action {
        width: 190px;
        height: 56px;
    }
}

@media(max-width: 1022px) {
    .about {
        width: 100%;
        padding: 47px 0 22px;
        flex-direction: column;
        justify-content: flex-end;
        gap: 30px;
    }

    .info-container {
        margin: 0 auto;
    }

    .info {
        max-width: 333px;
        width: 100%;
    }

    .badge {
        display: none;
    }

    .title {
        line-height: 32px;
        font-size: var(--font-size-28);
        text-align: center;
        margin: 0 0 27px;
    }

    .image-container {
        position: relative;
        height: auto;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
    }

    .image-container img {
        position: relative;
        width: 100%;
        height: auto;
        padding-left: 10px;
    }

    .action {
        width: 230px;
        height: 50px;
        margin: 0 auto;
    }

    .action span {
        font-size: var(--font-size-13);
    }
}
