.comments-section {
    padding: 70px 0 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    height: 190px;
    width: 100%;
    position: relative;
    display: flex;
    cursor: grab;
}

.carousel {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 12px;
    padding-right: 12px;
}

.second {
    opacity: 0;
}

@keyframes scroll {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(-50%,0,0);
    }
}

.pagination {
    display: flex;
    gap: 16px;
}

.dot:hover {
    cursor: pointer;
}

/*.comments button {*/
/*    position: absolute;*/
/*    top: 40%;*/
/*    border: none;*/
/*    background: transparent;*/
/*    cursor: pointer;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 36px;*/
/*    height: 36px;*/
/*    transform: scale(2);*/
/*    border-radius: 10px;*/
/*    transition: all 0.3s;*/
/*}*/

/*.comments button:hover {*/
/*    box-shadow: 0px 10px 40px 0px #ddd;*/
/*}*/

/*.comments button:active {*/
/*    transform: scale(2.5);*/
/*}*/

/*.left {*/
/*    left: 10%;*/
/*}*/

/*.right {*/
/*    right: 10%;*/
/*}*/