.section {
    width: 100%;
    padding: 40px 0 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-section {
    width: 1422px;
    height: 250px;
    padding: 0 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.comments-section button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    transform: scale(2);
    border-radius: 10px;
    transition: all 0.3s;
}

.comments-section button:hover {
    box-shadow: 0px 10px 40px 0px #ddd;
}

.comments-section button:active {
    transform: scale(2.5);
}

.comments-wrapper {
    flex: 1;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.comments-list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    display: flex;
    list-style: none;
    gap: 12px;
    transition: transform 1s;
}

.dot {
    cursor: pointer;
}

.pagination {
    display: flex;
    gap: 16px;
}

@media(max-width: 1438px) {
    .section {
        padding: 40px 0 80px;
    }

    .comments-section {
        width: 100%;
        max-width: 1005px;
        height: 250px;
        padding: 0 60px;
        gap: 45px;
    }

    .comments-section button {
        transform: scale(1.5);
    }

    .comments-section button:active {
        transform: scale(2);
    }
}

@media(max-width: 1022px) {
    .section {
        width: 100%;
        max-width: 393px;
        margin: 0 auto;
        padding: 0 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comments-section {
        position: relative;
        width: 100%;
        height: 305px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .comments-section button {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        z-index: var(--separate-content-z-index);
        background: white;
        border: solid 2px var(--primary-action-color);
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .comments-section button:active {
        transform: scale(1.1);
    }

    .dot {
        cursor: pointer;
        transform: scale(0.8);
    }

    .pagination {
        gap: 10px;
    }
}