.content {
    padding: 32px 29px 32px 31px;
    width: 750px;
    border-radius: 20px;
    background: var(--reversed-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: var(--font-size-32);
    line-height: 41px;
    margin-bottom: 42px;
}

.initials-container {
    width: 100%;
    display: flex;
    gap: 26px;
    margin-bottom: 23px;
}

.email {
    margin-bottom: 20px;
}

.countries {
    margin-bottom: 19px;
}

.note {
    margin-bottom: 20px;
    margin-top: 19px;
}

.close {
    position: absolute;
    top: 29px;
    right: 26px;
}

.input input {
    height: 58px;
}

.submit {
    margin-top: 10px;
}

@media(max-width: 1438px) {
    .content {
        padding: 32px 29px 32px 31px;
        width: 750px;
        border-radius: 20px;
        background: var(--reversed-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: var(--font-size-32);
        line-height: 41px;
        margin-bottom: 42px;
    }

    .initials-container {
        width: 100%;
        display: flex;
        gap: 26px;
        margin-bottom: 23px;
    }

    .email {
        margin-bottom: 20px;
    }

    .countries {
        margin-bottom: 19px;
    }

    .note {
        margin-top: 19px;
        margin-bottom: 20px;
    }

    .close {
        position: absolute;
        top: 29px;
        right: 26px;
    }

    .input input {
        height: 58px;
    }
}

@media(max-width: 1022px) {
    .content {
        padding: 25px 25px;
        width: 332px;
    }

    .title {
        font-size: var(--font-size-22);
        line-height: 30px;
        margin-bottom: 15px;
    }

    .initials-container {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    .email, .countries, .note {
        margin-bottom: 10px;
    }

    .note {
        margin-top: 10px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        transform: scale(0.8);
    }

    .submit {
        font-size: var(--font-size-14);
        height: 48px;
    }

    .input input {
        height: 48px;
    }
}