.examples-board {
    margin: 0 auto;
    background: var(--reversed-bg-color);
    padding: 18px;
    display: flex;
    gap: 80px;
    border-radius: 20px;
    width: 1070px;
    height: 530px;
}

.info {
    padding-top: 34px;
    padding-left: 42px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.title {
    font-size: var(--font-size-40);
    line-height: var(--line-height-45);
    width: 432px;
}

.flag {
    height: 58px;
}

.paragraph {
    width: 413px;
}

.action {
    display: flex;
    gap: 18px;
    align-items: center;
    height: 30px;
    margin-top: 50px;
    text-decoration: none;
    cursor: pointer;
}

.examples {
    border-radius: 20px;
    background: var(--primary-bg-color);
    flex: 1;
    display: flex;
}

.examples-section {
    padding: 37px 47px;
    display: flex;
    flex-direction: column;
}

.original p {
    align-self: flex-end;
}

.original {
    width: 300px;
}

.enhanced {
    width: 180px;
    background: var(--secondary-bg-color);
}

.samples {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.original .samples {
    gap: 40px;
    margin-top: 36px;
}

.enhanced .samples {
    gap: 48px;
    margin-top: 40px;
}

.sample {
    display: flex;
    gap: 62px;
    align-items: center;
}

.original .sample {
    height: 58px;
}

@media(max-width: 1438px) {
    .examples-board {
        padding: 16px;
        gap: 70px;
        width: 900px;
        height: 460px;
    }

    .info {
        padding-top: 39px;
        padding-left: 46px;
        gap: 20px;
    }

    .title {
        width: 320px;
        line-height: 40px;
    }

    .paragraph {
        width: 342px;
    }

    .action {
        gap: 12px;
        height: 30px;
        margin-top: 16px;
    }

    .examples-section {
        padding: 29px 36px;
    }

    .original {
        width: 249px;
    }

    .enhanced {
        width: 161px;
    }

    .original .samples {
        gap: 35px;
        margin-top: 28px;
    }

    .flag {
        height: 48px;
    }

    .enhanced .samples {
        gap: 43px;
        margin-top: 32px;
    }

    .sample {
        gap: 48px;
    }

    .original .sample {
        height: 48px;
    }
}

@media(max-width: 1022px) {
    .examples-board {
        padding: 27px 20px 20px;
        flex-direction: column;
        gap: 33px;
        width: 100%;
        max-width: 372px;
        height: 760px;
        overflow: hidden;
    }

    .info {
        padding-top: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .title {
        font-size: var(--font-size-28);
        line-height: 36px;
        width: 322px;
        text-align: center;
    }

    .paragraph {
        width: 294px;
        font-size: var(--font-size-12);
        line-height: 17px;
        text-align: center;
    }

    .action {
        gap: 12px;
        height: 22px;
        margin-top: 6px;
    }

    .action p {
        font-size: var(--font-size-16);
    }

    .flag {
        height: 48px;
    }

    .examples {
        border-radius: 20px;
        background: var(--primary-bg-color);
        flex: 1;
        display: flex;
    }

    .examples-section {
        padding: 45px 31px 36px 33px;
        display: flex;
        flex-direction: column;
    }

    .original {
        width: 70%;
        max-width: 218px;
    }

    .enhanced {
        width: 30%;
        max-width: 115px;
    }

    .original .samples {
        gap: 35px;
        margin-top: 0;
    }

    .enhanced .samples {
        gap: 43px;
        margin-top: 4px;
    }

    .sample {
        display: flex;
        gap: 42px;
        align-items: center;
    }

    .original .sample {
        height: 48px;
    }
}
