.section {
    padding: 54px 100px 72px;
    background: var(--primary-faq-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.available-roles-container {
    width: 1240px;
}

.title {
    font-size: var(--font-size-35);
    line-height: var(--line-height-50);
    margin-bottom: 30px;
}

.roles {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}