.section {
    width: 100%;
    background: transparent;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    padding-top: 29px;
}

.section.titled {
    background: var(--fourth-bg-color);
}

.section span {
    font-size: var(--font-size-25);
    line-height: 36px;
    color: var(--third-text-color);
    font-weight: var(--font-weight-l);
}

.section.titled span {
    color: var(--reversed-text-color);
}

.section img {
    max-width: 1422px;
    padding: 0 95px;
    margin: 0 auto;
}

@media(max-width: 1438px) {
    .section {
        height: 164px;
        gap: 25px;
        padding-top: 23px;
    }

    .section span {
        font-size: var(--font-size-18);
        line-height: 25px;
    }

    .section img {
        max-width: 1005px;
        padding: 0 68px;
    }
}

@media(max-width: 1022px) {
    .section {
        height: auto;
        padding-top: 22px;
        padding-bottom: 38px;
    }

    .section span {
        font-size: var(--font-size-16);
        line-height: 30px;
    }

    .section img {
        max-width: 100%;
        width: 100%;
        padding: 0 28px 0 34px;
    }
}