.featured {
    /*width: 100%;*/
    /*padding: 10px 25px 55px 25px;*/
    /*display: flex;*/
    /*gap: 40px;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*overflow: hidden;*/

    width: 100%;
    padding: 10px 2% 45px;
    display: grid;
    grid-template-columns: 12% 16% 24% 19% 10%;
    justify-content: space-around;
    align-items: center;
    gap: 1%;
}

.image {
    width: 100%;
}

.titled {
    height: 250px;
    padding: 40px 100px 60px;
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--fourth-bg-color);
}

.title {
    line-height: var(--line-height-36);
    font-size: var(--font-size-25);
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

@media(max-width: 1438px) {
    .featured {
        width: 100%;
        padding: 10px 2% 45px;
        display: grid;
        grid-template-columns: 12% 16% 24% 19% 10%;
        justify-content: space-around;
        gap: 1%;
    }
}