.section {
    width: 100%;
    height: 100%;
    padding: 31px 49px 0;
}

.title {
    font-size: var(--font-size-25);
    line-height: 30px;
    margin-bottom: 20px;
}

.paragraph {
    font-size: var(--font-size-18);
    line-height: 24px;
}

.content-container {
    width: 100%;
    display: grid;
    grid-template-columns: 36px auto 36px;
    align-items: center;
    justify-content: space-between;
}

.pronunciation .content-container {
    padding: 0 133px 0 93px;
    position: relative;
    margin-top: 50px;
    grid-template-columns: 36px 36px;
    align-items: end;
    height: 146px;
}

.pronunciation img {
    position: absolute;
    top: 0;
    left: 79px;
    width: 544px;
    height: 90px;
}

.quality .content-container {
    margin-top: 70px;
    padding: 0 9px 0 10px;
}

.quality img {
    width: 552px;
    height: 119px;
}

.cancellation .content-container {
    margin-top: 58px;
    padding: 0 9px 0 10px;
}

.cancellation img {
    width: 556px;
    height: 150px;
}

.preserve .content-container {
    margin-top: 53px;
    padding: 0 24px 0 26px;
}

.preserve img {
    width: 494px;
    height: 142px;
}

@media(max-width: 1438px) {
    .section {
        padding: 28px 38px 0;
    }

    .title {
        font-size: var(--font-size-28);
        margin-bottom: 12px;
    }

    .paragraph {
        font-size: var(--font-size-15);
        line-height: 18px;
        padding-right: 39px;
    }

    .content-container {
        padding: 0 12px;
        grid-template-columns: 32px auto 32px;
    }

    .pronunciation .content-container {
        padding: 0 74px 0 46px;
        margin-top: 51px;
        grid-template-columns: 32px 32px;
        height: 119px;
    }

    .pronunciation img {
        left: 37px;
        width: 415px;
        height: 68px;
    }

    .quality .content-container {
        margin-top: 62px;
    }

    .quality img {
        width: 350px;
        height: 100px;
    }

    .cancellation .content-container {
        margin-top: 67px;
    }

    .cancellation img {
        width: 350px;
        height: 90px;
    }

    .preserve .content-container {
        margin-top: 60px;
        padding: 0 12px;
    }

    .preserve img {
        width: 328px;
        height: 93px;
    }
}

@media(max-width: 1022px) {
    .section {
        padding: 29px 21px 32px 31px;
    }

    .title {
        font-size: var(--font-size-22);
        margin-bottom: 16px;
    }

    .paragraph {
        font-size: var(--font-size-12);
        line-height: 18px;
        padding-right: 3px;
    }

    .content-container {
        width: 100%;
        display: grid;
        grid-template-columns: 32px 32px;
        justify-content: space-between;
        align-items: end;

        position: relative;
    }

    .content-container img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .pronunciation .content-container {
        padding: 0 11px 0 0;
        margin-top: 54px;
        grid-template-columns: 32px 32px;
        height: 105px;
    }

    .pronunciation img {
        left: 0;
        width: 279px;
        height: 43px;
    }

    .quality .content-container {
        margin-top: 23px;
        padding: 0 11px 0 0;
        height: 120px;
    }

    .quality img {
        width: 269px;
        height: 76px;
    }

    .cancellation .content-container {
        margin-top: 25px;
        padding: 0 11px 0 0;
        height: 117px;
    }

    .cancellation img {
        width: 267px;
        height: 69px;
    }

    .preserve .content-container {
        margin-top: 35px;
        padding: 0 11px 0 0;
        height: 124px;
    }

    .preserve img {
        width: 293px;
        height: 77px;
    }
}