.navigation {
    height: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
}

.links-title {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-m);
    color: var(--third-text-color);
}

.use-cases-links {
    margin: 0 0 20px 33px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action-link {
    margin-left: 26px;
    width: 202px;
    height: 55px;
    font-size: var(--font-size-16);
}

.cases-dropdown {
    width: 260px;
}

.company-dropdown {
    width: 150px;
}

.default-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media(max-width: 1438px) {
    .navigation {
        height: auto;
        gap: 30px;
    }

    .links-title {
        display: flex;
        align-items: center;
        gap: 13px;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-m);
        color: var(--third-text-color);
    }

    .use-cases-links {
        margin: 0 0 18px 39px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .action-link {
        margin-left: 30px;
        width: 160px;
        height: 48px;
        font-size: var(--font-size-16);
    }

    .cases-dropdown {
        width: 220px;
    }

    .company-dropdown {
        width: 146px;
    }

    .default-links {
        padding: 6px 0 16px 10px;
        gap: 17px;
    }
}

@media(max-width: 1022px) {
    .navigation {
        margin-top: 19px;
        height: calc(100% - var(--header-height));
        flex-direction: column;
        gap: 0;
        align-items: flex-start;

        transition: all 1s;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
    }

    .navigation.open {
        transition: all 0s;
        visibility: visible;
        pointer-events: all;
        opacity: 1;
    }

    .links-title {
        gap: 13px;
        font-size: var(--font-size-18);
    }

    .last-links-title {
        margin-top: 15px;
    }

    .use-cases-links {
        margin: 0;
        gap: 27px;
    }

    .default-links {
        gap: 27px;
        padding: 0;
    }

    .action-link {
        margin: auto 30px 37px 30px;
        width: calc(100% - 60px);
        height: 60px;
        font-size: var(--font-size-18);
    }

    .cases-dropdown {
        width: 100%;
    }

    .company-dropdown {
        width: 100%;
    }

    .link {
        font-size: var(--font-size-18);
    }

    .blog-link {
        width: 100%;
        padding: 20px 0 20px 41px;
        font-size: var(--font-size-20);
    }
}


