.section{
    padding: 30px 0 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: var(--separate-content-z-index);
}

.badge {
    width: 180px;
}

.title {
    line-height: 70px;
    margin-bottom: 14px;
}

.paragraph {
    width: 600px;
    text-align: center;
    font-size: var(--font-size-16);
}

@media(max-width: 1438px) {
    .section{
        padding: 60px 0 45px;
    }

    .badge {
        width: 160px;
    }

    .title {
        font-size: var(--font-size-60);
    }

    .paragraph {
        width: 520px;
        text-align: center;
        font-size: var(--font-size-16);
    }
}

@media(max-width: 1022px) {
    .section{
        padding: 39px 0 34px;
    }

    .badge {
        width: 140px;
        margin-bottom: 20px;
    }

    .title {
        font-size: var(--font-size-25);
        line-height: 40px;
        margin-bottom: 18px;
    }

    .paragraph {
        width: 327px;
        text-align: center;
        font-size: var(--font-size-14);
        line-height: 20px;
    }
}