.popup-content {
    position: relative;
    width: 800px;
    height: 565px;
    border-radius: 20px;
    background: var(--reversed-bg-color);
    padding: 43px 47px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-title {
    font-size: 38px;
    line-height: var(--line-height-50);
    margin-bottom: 32px;
}

.popup-paragraph {
    text-align: center;
    width: 610px;
    height: 64px;
    font-size: 24px;
    margin-bottom: 53px;
}

.popup-form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 28px;
}

.popup-disclaimer {
    width: 610px;
    height: 63px;
    text-align: center;
    font-size: var(--font-size-xxxs);
    font-weight: var(--font-weight-s);
}

.em {
    font-size: inherit;
    font-weight: inherit;
    color: var(--reversed-text-color);
}

.close {
    position: absolute;
    top: 38px;
    right: 28px;
}