.comment {
    width: 600px;
    height: 190px;
    border-radius: 20px;
    background: var(--primary-bg-color);
    padding: 24px 31px;
    box-shadow: 0px 10px 40px 0px #16141414;
    display: flex;
    flex-direction: column;
    gap: 21px;
    transition: all 1s;
}

.name {
    font-size: var(--font-size-20);
}

.info {
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.person {
    display: flex;
    gap: 18px;
    align-items: center;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.initials {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.text {
    height: 70px;
    padding-left: 7px;
}

.company-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
}

.company {
    max-width: 200px;
}

@media(max-width: 1022px) {
    .comment {
        position: relative;
        width: 332px;
        height: 250px;
        padding: 23px 27px 25px 30px;
    }

    .info {
        height: 50px;
        flex: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
    }

    .name {
        font-size: var(--font-size-18);
    }

    .initials {
        gap: 0;
        justify-content: space-between;
    }

    .text {
        height: 96px;
        padding-left: 0;
    }

    .text p {
        font-size: var(--font-size-13);
        line-height: 18px;
    }

    .company-wrapper {
        position: absolute;
        bottom: 20px;
        left: 30px;
    }
}