.content {
    width: 1422px;
    margin: 0 auto 109px;
}

.content-section {
    display: flex;
    gap: 58px;
    justify-content: space-around;
    align-items: center;
}

.left {
    margin: 0 74px 0 129px;
}

.right {
    margin: 158px 129px 146px 74px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.paragraph {
    width: 497px;
    height: 210px;
}

.image {
    width: 682px;
    height: 454px;
}

@media(max-width: 1438px) {
    .content {
        width: 1005px;
        margin: 0 auto 90px;
    }

    .content-section {
        gap: 57px;
    }

    .left {
        margin: 0 45px 0 90px;
    }

    .right {
        margin: 92px 76px 108px 43px;
    }

    .details {
        gap: 27px;
    }

    .paragraph {
        width: 338px;
        height: 169px;
        line-height: 18px;
    }

    .image {
        width: 494px;
        height: 329px;
    }
}