.intro {
    width: 1422px;
    margin: 0 auto;
    padding: 45px 0 60px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.details {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 60px 0 84px;
    margin-right: 100px;
}

.title {
    width: 580px;
    height: 200px;
    line-height: 60px;
    margin: 20px 0 11px;
}

.paragraph {
    width: 503px;
    height: 80px;
    line-height: 25px;
}

.links {
    display: flex;
    gap: 15px;
    margin-top: 56px;
}

.link {
    width: 240px;
    height: 66px;
}

.image {
    width: 710px;
    height: 620px;
}

@media(max-width: 1438px) {
    .intro {
        padding: 61px 0 55px;
        width: 100%;
        max-width: 1005px;
        margin: 0 auto;
        gap: 11px;
    }

    .details {
        align-items: center;
        padding: 0 0 50px;
        margin-right: 90px;
    }

    .title {
        width: 395px;
        height: 128px;
        line-height: 40px;
        margin: 14px 0 21px;
    }

    .paragraph {
        width: 404px;
        height: 72px;
        line-height: 22px;
    }

    .links {
        margin-top: 34px;
    }

    .link {
        width: 190px;
        height: 56px;
    }

    .image {
        width: 518px;
        height: auto;
    }
}